.nav-item:hover {
  background-color: darkgreen;
}

header {
  border-bottom: solid 1.5px gray;
}

h1 {
  text-align: center;
}

.card {
  width: 90%;
  margin:20px;
}

.active {
  background-color: green !important;
}

a:hover {
  color: black;
}

.btn {
  background-color: green !important;
}

#jumbotron {
  background-image: url("images/projects.jpg");
  color: white;
}