.nav-item:hover {
  background-color: darkgreen;
}

p {
  margin: 10px;
}

h4 {
  margin: 10px;
  color: #00a400;
}
header {
  border-bottom: solid 1.5px gray;
}

.active {
  background-color: green !important;
}

a:hover {
  color: black;
}

.btn {
  background-color: green !important;
}

.light {
  font-weight: lighter;
}

h3 {
  margin: 10px;
  color: #00a400;
}

#jumbotron {
  background-image: url("images/repeat4.jpg");
  color: white;
}